.HabitList {
  height: 30vh;
  margin: 0 10vw;
  overflow-y: scroll;
}

.HabitList::-webkit-scrollbar { /* 1 - скроллбар */
  width: 12px;
}

.HabitList::-webkit-scrollbar-track { /* 1 - скроллбар */
  background-color: white !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border: 1px black solid;
}

.HabitList::-webkit-scrollbar-thumb { /* 5 - ползунок */
  background-color: lightgray !important;
  border: 1px black solid;
  width: 11px;
}